pandas>=1.4
numpy
scikit-learn
scipy
matplotlib
jupyter
emoji
nltk
torch        # optional if you fine-tune transformers
transformers # optional
datasets     # optional
evaluate     # optional
gradio       # optional
streamlit    # optional
